---
import ProjectItem from "./../ProjectItem.astro";
import mangolandImage from "../../assets/projects/mangoland.png";
import devfinderImage from "../../assets/projects/devfinder.png";
import cryptoDashboardImage from "../../assets/projects/crypto-dashboard.png";
const projects = [
  {
    title: "Mangoland",
    description:
      "Probablemente un proyecto relacionado con una marca o temática de 'Mangoland'. Podría ser un sitio web promocional, una aplicación o algo creativo.",
    image: mangolandImage,
    link: "https://github.com/YPPupo/mangoland.git",
    repoLink: "https://github.com/YPPupo/mangoland.git",
    tags: ["React", "JavaScript", "Vercel"],
  },
  {
    title: "FM Devfinder",
    description:
      "Este proyecto parece ser una herramienta para buscar o encontrar desarrolladores. Podría ser una aplicación web que se conecta a alguna API.",
    image: devfinderImage,
    link: "https://github.com/YPPupo/fm-devfinder.git",
    repoLink: "https://github.com/YPPupo/fm-devfinder.git",
    tags: ["HTML", "CSS", "JavaScript", "API"],
  },
  {
    title: "Crypto New Dashboard",
    description:
      "Un panel de control (dashboard) para visualizar información relacionada con criptomonedas. Probablemente muestra datos del mercado de cripto.",
    image: cryptoDashboardImage,
    link: "https://github.com/YPPupo/crypto-new-dashboard.git",
    repoLink: "https://github.com/YPPupo/crypto-new-dashboard.git",
    tags: ["React", "JavaScript", "API", "Dashboard"],
  },
];
---

<section
  id="projects"
  class="max-w-7xl mx-auto px-6 lg:px-8 xl:px-0 py-16 md:pt-20 md:pb-20"
>
  <h2
    class="text-4xl md:text-5xl font-bold text-white mb-12 md:mb-16 text-center poppins-semibold"
  >
    Projects
  </h2>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 md:gap-8">
    {
      projects.map((project) => (
        <ProjectItem
          title={project.title}
          description={project.description}
          image={project.image.src}
          link={project.link}
          repoLink={project.repoLink}
          tags={project.tags}
        />
      ))
    }
  </div>
</section>


