---
import ProjectItem from "./../ProjectItem.astro";
import mangolandImage from "../../assets/projects/mangoland.png";
import devfinderImage from "../../assets/projects/devfinder.png";
import cryptoDashboardImage from "../../assets/projects/crypto-dashboard.png";
const projects = [
  {
    title: "Mangoland",
    description:
      "This landing page was designed and developed for Mangoland, a fictional distributor of premium mangoes. The goal was to create a visually engaging and informative online presence that highlights a prominent display of vibrant mango imagery and detailed insights into locally sourced, high-quality produce. Key features include sections that introduce the brand’s commitment to sustainability and quality through clear, concise information, as well as a call to action inviting visitors to explore the products and subscribe for updates. This project showcases my skills in web design, user experience (UX), and front-end development using HTML, CSS, and JavaScript for interactive elements.",
    image: mangolandImage,
    link: "https://mangoland.vercel.app/",
    repoLink: "https://github.com/YPPupo/mangoland.git",
    tags: ["Astro", "JavaScript", "Vercel"],
  },
  {
    title: "FM Devfinder",
    description:
      "This project is a solution to the GitHub User Finder challenge from Frontend Mentor. It demonstrates my ability to interact with external APIs and dynamically display data. Users can input a GitHub username, and the application fetches and presents relevant profile information using the GitHub API. This includes the user's avatar, bio, follower/following counts, public repositories, and more. The project highlights my proficiency in API integration, asynchronous JavaScript, DOM manipulation, and responsive design principles.",
    image: devfinderImage,
    link: "https://fm-devfinder.vercel.app/",
    repoLink: "https://github.com/YPPupo/fm-devfinder.git",
    tags: ["React", "Next js", "API", "Vercel"],
  },
  {
    title: "Crypto New Dashboard",
    description:
      "This dashboard was built to visualize cryptocurrency data fetched from the CoinGecko API. The aim was to create a user-friendly interface for tracking and analyzing crypto market information. Key features include sortable tables displaying real-time data such as price, market capitalization, and trading volume for various cryptocurrencies. Additionally, the dashboard incorporates charts to illustrate historical price trends. This project demonstrates my skills in working with APIs, data visualization libraries (potentially like Chart.js or similar), data handling, and front-end development to present complex information in an accessible and informative way.",
    image: cryptoDashboardImage,
    link: "https://crypto-new-dashboard.vercel.app/",
    repoLink: "https://github.com/YPPupo/crypto-new-dashboard.git",
    tags: ["React", "Next js", "API", "Dashboard"],
  },
];
---

<section
  id="projects"
  class="max-w-7xl mx-auto px-6 lg:px-8 xl:px-0 py-16 md:pt-20 md:pb-20"
>
  <h2
    class="text-4xl md:text-5xl font-bold text-white mb-12 md:mb-16 text-center poppins-semibold"
  >
    Projects
  </h2>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 md:gap-8">
    {
      projects.map((project) => (
        <ProjectItem
          title={project.title}
          description={project.description}
          image={project.image.src}
          link={project.link}
          repoLink={project.repoLink}
          tags={project.tags}
        />
      ))
    }
  </div>
</section>
